body {
    background-color: white;
    font-family: 'Montserrat', 'sans-serif';
    margin: 0 auto;
}

header {
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.headerblack {
    background-color: black;
    max-width: 100%;
}

.headerblack h2 {
    position: absolute;                           /*overskriften på explore siden; plasseres ift header elemetet.*/
    z-index: 1;                                   /*gjør at teksten legger seg over bakgrunnen*/
    top: 40%;                                     /*plasserer den sammen med left*/
    left: 50%; 
    transform: translate(-50%, -50%);      
}

header h1 {
    position: absolute;                          /*oveskriften til exhibition spaces*/
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 40%;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
    margin-bottom: 20px;
}

nav li {
    display: inline-block;
    padding: 15px;
}

nav a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-white a {
    background-color: white;
    color: black;
    top: -100px;
}

.nav-white {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
}

nav a:hover {
    color: #009CA6;
}

.header-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

h1 {
    font-size: 50px;
    margin-left: 40px;
    text-align: center;
}

h2 {
    font-size: 50px;
    color: white;
    margin-left: 30px;
}

h5 {
    color: white;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 2px;
}



/*Home page*/

.homelogo {
    max-width: 70%;
    height: auto;                           /* Beholder proporsjonene når siden blir mindre */
}

.nav-home ul {
    display: flex;
    padding: 0;
}

.nav-home {
    margin-top: 0;
}

.nav-home a {
    font-size: 22px;
}

.homeheader-image {
    width: 100%;
    height: 500px;
    object-fit: cover;                           /*bildet fyller hele containeren*/
}

.blue-textbox-home {
    background-color: #009CAC;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.blue-textbox-home h4 {
    margin-left: 30em;
    font-size: 1,9em;
}

.blue-textbox-home h5 {
    font-size: 1,8em;
}

.textbox-image-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

.text-container h3 {
    border: 2px solid #000000;
    padding: 50px;
}

.textbox-image {
    max-width: 100%;
    border-radius: 4px;
}

.yellow-textbox-home {
    background-color: #EBD82C;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.yellow-textbox-home h3 {
    font-weight: 400;
    font-size: 1,8em;
}

.image-box-home {
    background-color: #AEDC98;
}

.images-container-home {
    display: flex;
    justify-content: space-between;
}

.imagebox {
    max-width: 30%;
    margin-bottom: 20px;
}

.image-box-home h3 {
    text-align: center;
    margin: 0 auto;                     /*sentrerer h3 elementet horisontalt, midtsilt*/
    max-width: 700px;
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: 600;
}

.dino-footer-home {
    position: relative;               /* Posisjon relativ for å kunne bruke absolute-posisjonering */
    text-align: center;               /* Midtstiller innholdet horisontalt */
}

.dino-footer-home div {
    position: relative;
}

.dino-footer-home h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);             /* Flytter teksten opp over bildet */
    background-color: rgba(255, 255, 255, 0.7);  /* Bakgrunnsfarge (hvitt) med 0.7 gjennomsiktighet */
    padding: 10px;
    width: max-content;
    white-space: nowrap;                           /* Forhindrer linjeskift */
}

.image-dino-home {
    max-width: 90%;
    border-radius: 4px;
}






/*Explore page*/

.explore-section-one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;                             /*gjør at elementene forskyves til rad under*/
    justify-content: space-around;
    padding: 10px;
    margin: 20px;
}

.text-one {
    margin-right: 100px;
    flex-basis: 100%;                             /*sikrer at teksten tar opp hele bredden av flex containeren*/
    margin-bottom: 5px;
}

.text-two {
    text-decoration: underline;
    font-size: 22px;
}

.quiz-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.button {
    background-color: #F22D6B;
    border-color: #000000;
    border-width: 10px;
    font-size: 22px;    
    border-radius: 10px;
    padding: 4px 15px;
}

.kid-science-animation {
    max-width: 500px;
}

.explore-kids-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.section-image{
    position: relative;
}

.section-text {
    background-image: url('images/sciencekids.jpg');
    background-size: cover;                               /*for å sikre at bildet fyller hele bakgrunnen til div-elementet.*/
    background-position: center;                          /*viser midten av bilde som bakgrunn*/
    height: 400px;
    position: relative;                                   /*slik at vi kan plassere overskriften relativt til div-elementet.*/
}

.section-two-paragraph {
    color: white;
    position: absolute;                                   /*for å plassere overskriften relativt til div-elementet.*/
    text-align: center;
    line-height: 30px;                                    /*sentrerer teksten*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);                     /*for å plassere overskriften midt på bildet, sammen med top og left*/
}

.explore-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
    padding: 0px;
}

.explore-section-three {
    display: flex;
    background-color: #AEDC98;
}

.image-container, .text-containier {
    flex-basis: 50%;                                      /*gjør at elementene tar opp like mye plass i containeren*/
    padding: 5%;
}
    
.girlinspace-image {
    max-width: 100%; 
    border-radius: 4px;
}

.explore-section-four {
    display: flex;
    background-color: #A4A8B0;
}

.scienceteacher-image {
    width: 100%;
    border-radius: 4px;
}

.explore-section-five {
    display: flex;
    background-color: #B8D5F3;
}

.scinceresearcher-image {
    width: 100%;
    border-radius: 4px;
}







/*Visit page*/

.visit-container {
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 60px;
}

.visit-map-image {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

.visit-image-container {
    display: flex;
}

.animation-scientist {
    max-width: 50%;
    margin-left: 600px;
    margin-top: 150px;
}

.email-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
    font-size: 20px;
    position: relative;
    margin-bottom: 7em;
}

.email-fieldset {
    display: block;
}

.email label:hover {
    color: #009CA6;
}

.email-nav,
#email-checkbox {
    display: none;                             /*hide the checkbox*/
}

#email-checkbox:checked ~ .email-nav {         /*show the nav menu when checkbox is checked*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.email-nav {
    background-color: #AEDC98;
    position: absolute;
    top: 40px;
    padding: 15px;
    border-radius: 1em;
    height: 25rem;
    line-height: 2px;
    font-size: 18px;
}

#message {
    height: 90px;
}

.sendinput {
    border-radius: 1rem;
    padding: 4px;
    margin-bottom: 1em;
}







/*Exhibition page*/

.exhibition-container {
    display: flex;               /*gjør at blir en fleksibel beholder. Dette tillater innholdet innenfor containeren å justere seg i en rad/kolonne */
    flex-wrap: wrap;            /*sørger for at innholdet kan pakke seg til neste linje hvis det ikke får plass i bredden til containeren.*/
    justify-content: space-around;   /*fordeler de ulike div ene slik at de har lik avstand mellom seg*/
    margin-top: 5%;
}

.exhibition-container div {
    flex-basis: calc(33% - 20px);    /*angir bredden på hver div. calc funksjonen trekker 20 pikser på 33,33%*/
    margin-bottom: 60px;             /*bunnmargen mellom hver div*/
    padding: 20px;                    /*gir en intern polstring inne i hver div*/
    border: 2px solid black;
  }
  
  /* Stiler for bildet */
  .exhibition-container img {
    width: 100%;                      /*sørger for at bildet fyller 100% av bredden til sin overordnede div*/
    height: auto;                      /*opprettholder bildets opprinnelige sideforhold slik at det ikke blir forvrengt*/
    margin-bottom: 10px;               /*legger til en bunnmarg for å skape avstand mellom bilde og tekst*/
    border-radius: 4px;
  }
  
  /* Stiler for overskrift og paragraf */
  .exhibition-container h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .exhibition-container p {
    font-size: 20px;
    line-height: 1.5;
  }

.dinosaur-container {
    background-color: #AEDC98;
}

.cosmos-container {
    background-color: #B8D5F3;
}

.biology-container {
    background-color: #F9ED32;
}

.tech-container {
    background-color: #F22D6B;
    
}

.skeleton-container {
    background-color: #009CA6;

}

.planet-container {
    background-color: #FEAA2B;
}





/*Events page*/

.section-event {
    display: flex;
    margin-left: 20px;
}

.section-event img {
    max-width: 800px;
    max-height: 500px;
}

.event-image {
    border-radius: 20px;
    width: 800px;
    height: 450px;
    padding: 10px;
}

.aeronautics-text h4 {
    display: inline-block;              /*gjør boksen kun så bred som teksten*/
    background-color: #EBD82C;
    padding: 10px;
    border: 1px solid black;   
    border-radius: 10px;
}

.night-text h4 {
    display: inline-block;          
    background-color: #F22D6B;
    padding: 10px;
    border: 1px solid black; 
    border-radius: 10px;
}

.energetica-text h4 {
    display: inline-block;          
    background-color: #AEDC98;
    padding: 10px;
    border: 1px solid black; 
    border-radius: 10px;
}






/*Engage page*/

.main-getinvolved {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.skeleton-image {
    max-width: 550px;
    margin-right: 20px;
    border-radius: 4px;
}






/*Footer*/

.footer-container {
    margin-top: 150px;
    padding: 20px 10%;
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-container div {
    text-align: center;
    margin-right: 10px;
}

.footer-container h3 {
    margin-bottom: 30px;
}

form input {
    width: 400px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

form button {
    background: #009CAC;
    border: 2px solid #009CAC;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}





/*Media quiaries*/

/*Phone*/

@media only screen and (max-width: 600px) {

    /*Header*/

    .headerblack {
        height: 15%;
    }

    .headerblack h2 {
        top: 50%;
        font-size: 18px;
    }

    .header-image {
        height: 250px;
    }

    .header h1 {
        top: 50%;
        font-size: 24px;
    }

    .logo {
        max-width: 52%;
    }

    .homelogo {
        max-width: 50%;
    }

    .nav-home {
        display: none;
    }

    .nav-white {
        display: none;
    }

    .nav-bar {
        display: none;
    }

    .bottom-nav,
    #menu-checkbox {
        display: none;         /*hides the nav and checkbox by default*/
    }

    .bottom-nav li {
        display: block;       /*shows the nav list vertical*/
        padding: 5px;
        text-align: center;
    }

    .bottom-nav {
        position: absolute;
        top: 15px;
        right: 30px;
        padding: 1px 1px;
        background-color: black;
        border-radius: 5px;
    }

    .hamburger-menu {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
    }

    #menu-checkbox:checked ~ .bottom-nav {
        display: block;
    }

    .fa-solid {
        color: white;
    }

    nav a {
        font-size: 14px;
    }

    h1 {
        font-size: 23px;
    }

    h3 {
        font-size: 15px;
    }



    /*Home*/

    .homeheader-image {
        height: 250px;
    }

    .blue-textbox-home h4 {
        font-size: 12px;
        margin-left: 0;
    }

    .blue-textbox-home h5 {
        font-size: 10px;
    }

    .textbox-image-home {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .text-container h3 {
        padding: 20px;
    }

    .yellow-textbox-home h3 {
        font-size: 10px;
        margin-top: 5px;
    }

    .dino-footer-home h3 {
        top: 50%;
        left: 50%;
        font-size: 10px;
    }




    /*Explore*/

    .text-two {
        font-size: 18px;
    }

    .kid-science-animation {
        max-width: 450px;
    }

    .quiz-text {
        font-size: 16px;
    }

    .explore-section-three, .explore-section-five {
        flex-direction: column;
    }

    .explore-section-four {
        flex-direction: column-reverse;
    }




    /*Visit*/

    .visit-container {
        grid-template-columns: 1fr;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 200%;
        text-align: center;
    }

    .animation-scientist {
        margin-left: 7em;
        margin-top: 250px;
        max-width: 400px;
    }

    .email-fieldset {
        font-size: 16px;
    }

    .email-nav {
        left: 8em;
        font-size: 15px;
        height: 20rem;
        width: 20rem;
    }




    /*Exhibition*/

    .exhibition-container {
        flex-direction: column;
    }

    #white-page .fa-solid {
        color: black;
    }

    header h1 {
        top: 60%;
    }




    /*Events*/

    .section-event {
        flex-direction: column;
    }

    .section-event img {
        max-width: 100%;
        height: 200px;
    }

    .aeronautics-text, .night-text, .energetica-text  {
        text-align: center;

    }
    



    /*Engage*/

    .main-getinvolved {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .skeleton-image {
        max-width: 100%;
    }



    
    /*Footer*/

    .footer-container {
        margin-top: 50px;
        padding: 20px 5%;
        flex-direction: column;
        align-items: center;
    }

    .footer-container div {
        margin-bottom: 20px;
    }

    .footer-container h3 {
        margin-bottom: 20px;
    }

    form input {
        max-width: 350px;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .email-form {
        width: 300px;
    }



}





/*Tablet*/

@media only screen and (min-width:601px) and (max-width:900px) {



    /*Header*/

    h1 {
        font-size: 30px;
        margin-left: 20px;
    }
    
    h2 {
        font-size: 30px;
        margin-left: 30px;
    }

    nav li {
        padding: 5px;
    }

    nav a {
        font-size: 15px;
    }


    /*Home*/

    .nav-home a {
        font-size: 16px;
    }


    /*Visit*/

    .email-fieldset {
        font-size: 16px;
    }

    .animation-scientist {
        margin-left: 8em;
        margin-top: 750px;
        max-width: 500px;
    }

    .email-fieldset {
        font-size: 16px;
    }

    .email-nav {
        left: 10px;
        font-size: 16px;
        height: 22rem;
        width: 22rem;
    }


    /*Events*/

    .event-image {
        width: 350px;
        height: 250px;
    }


    /*Engage*/

    .main-getinvolved {
        flex-direction: column-reverse;
        padding: 20px;
    }
    
    .skeleton-image {
        max-width: 100%;
    }

    /*Footer*/

    form input {
        max-width: 320px;
        height: 30px;
    }

}





/*Desktop*/

@media only screen and (min-width:600px) and (max-width:2000px) {

    .hamburger-menu {
        display: none;
    }
}